<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.RegisterActivity" />
        <activity android:name=".welcome.LoginActivity" />
        <activity android:name=".manage.InManageActivity" />
        <activity android:name=".manage.PayManageActivity" />
        <activity android:name=".activity.SysSettingActivity" />
        <activity android:name=".activity.DataAnalyseActivity" />
        <activity android:name=".activity.PayDetailActivity" />
        <activity android:name=".activity.NewPayActivity" />
        <activity android:name=".activity.IncomeDetailActivity" />
        <activity android:name=".activity.NewIncomeActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>